<div class="container-fluid bg-dark">
   <div class="row ps-2" >
        <div class="col-md-3 col-sm-12  mt-5 ">
            <h6 class="ms-4 text-white mb-4">QUICK LINKS</h6>
            <ul>         
                <li class="list-footer mb-1">
                    <a href="" class="link-footer text-white">Handkerchif</a>
                </li>
                <li class="list-footer mb-1">
                    <a href="" class="link-footer text-white">Custom Pot</a>
                </li >
                <li class="list-footer mb-1">
                    <a href="" class="link-footer text-white">Dream Catcher</a>
                </li >
                <li class="list-footer mb-1">
                    <a href="" class="link-footer text-white">Custom Cup </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-12  mt-5 ">
            <ul class="mt-5">         
                <li class="list-footer mb-1">
                    <a href="" class="link-footer text-white">Features</a>
                </li>
                <li class="list-footer mb-1">
                    <a href="" class="link-footer">Events</a>
                </li >
                <li class="list-footer mb-1">
                    <a href="" class="link-footer">Annual Gifts</a>
                </li >
                
            </ul>
        </div>
        <div class="col-md-3 col-sm-12  mt-5 ">
            <h6 class="ms-4 text-white mb-4">Delivery Area</h6>
            <ul>         
                <li class="list-footer mb-1">
                    <a href="" class="link-footer">Kerala</a>
                </li>
                
            </ul>
        </div>
        <div class="col-md-3 col-sm-12  mt-5 ">
            <h6 class="ms-4 text-white mb-4">CONTACT US</h6>
            <ul>         
                <li class="list-footer mb-1 text-white fw-normal">
                    <p class="">myowndesign</p>
                    <p class="">Office No.105,First Floor,<br />Peace Park complex,Mavoor Road,<br />Parayanchery, Kuthiravattom PO,<br />Kozhikode, Kerala- 673016<br />E-mail : <span class="footer-text">mail.mtownstylee@gmail.com</span><br />Mobile : 9633116265</p>
                </li>
            </ul>
        </div>
   </div>
   <div class="row flex-column">
    
        <div class="row  justify-content-center">
            <div class="col-4 "><hr class="pt-5 hr-custom bg-dark"></div>
            <div class="col-1 "><a class="navbar-brand" href="#"><img src="/images/logo.png" class=" footer-img-container footer-image" alt="Wings Logo" width="100" height="100" ></a></div>
            <div class="col-4 "><hr class="pt-5 hr-custom bg-dark"></div>
        </div>
    <div class="row">
      <div class="col d-flex  gap-3 justify-content-center  mt-3">
        <div class=""><a href=""><i class="fa-brands fa-facebook text-white fs-5"></i></a></div>
        <div class=""><a href=""><i class="fa-brands fa-instagram text-white fs-5"></i></a></div>
        <div class=""><a href=""><i class="fa-brands fa-linkedin text-white fs-5"></i></a></div>
    </div>
    </div>
      <div class="row">
        <div class="d-flex fw-normal justify-content-center">
    <p class="text-white"><i class="fa-regular fa-copyright me-1"></i>2022 domainname All rights reserved</p>
</div>
      </div>
</div>
    
</div>